.dontshow {
visibility: hidden;
}
.logo{
  float:left;
  margin: 28px 100px 0px 30px;
  position: fixed;
}

.logo:hover {
  opacity: 0.8;
}

.logo_v{
  float:right;
  margin: 40px 0px 0px 10px;
  position: fixed;
}

.logo_v:hover{
  opacity: 0.8;

}

.watch{
  position: fixed;
  margin: 505px 0px 0px 920px;}

.watch:hover{
  opacity: 0.8;
}

.sub {
  font-family: 'Saira Semi Condensed';
  font-size: 17px;
  margin: 588px 0px 0px 874px;
  position: fixed;
}

.film {
  font-family: 'Saira Semi Condensed';
  font-size: 36px;
  margin: 510px 0px 0px 47px;
  position: fixed;
  color: white;
}

.dir {
  font-family: 'Saira Semi Condensed';
  font-size: 22px;
  margin: 565px 0px 0px 47px;
  position: fixed;
  color: white;
  }

.genre {
  font-family: 'Saira Semi Condensed';
  font-size: 22px;
  margin: 596px 0px 0px 47px;
  position: fixed;
  color: white;
}

body{
 background: url("images/b2.jpg") no-repeat #dedede;
 background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  font-family: 'Saira Semi Condensed';font-size: 18px;
  color: #FFFFFF;
}

nav{
  position: fixed;
	float: center;
	color: #FFFFFF;
	margin: 35px 100px 0px 308px;
	width: 62%;
  font-family: 'Saira Semi Condensed';
}

nav ul{
	float: center;
}

nav ul li{
	float: left;
	padding: 0em 0.5em 0.5em;
	list-style: none;
	position: relative;
	font-size: 29px;
}

.drop{
	display: none;
	background: rgba(229, 229, 229, 0.42);
  border-radius: 15px;
  position: fixed;
  padding: 13px 5px 350px;
  width: 608px;
}

nav ul li:hover ul{
	display: block;
}

nav ul li ul li a {
	padding: 0em;
  padding-left: 9px;
}

nav ul li ul li{
	font-size: 20px;
  font-family: 'Ruda';
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.menu {
	float: right;
	margin: -70px 0px 0px 1170px;
  font-family: 'Ruda';
}

  .menu_drop {
  	display: none;
  	position: absolute;
  	background: rgba(19, 19, 19, 0.52);
    border-radius: 15px;
    padding: 25px;
    margin: 92px 10px 0px -100px;
  }

  .menu_ul {
  	float: left;
  	padding: 0.5em;
  	list-style: none;
  	position: relative;
    display: block;
    padding: 0em;
    font-size: 25px;
    font-family: 'Ruda';
  }

  .menu_li {
    float: left;
  	padding: 0.5em;
  	list-style: none;
  	position: relative;
    display: block;
    padding: 10px;
    font-family: 'Ruda';
  }

  .manu_a {
    text-decoration: none;
    color: #FFFFFF;
  }

  * {box-sizing: border-box;}
form {
  width: auto;
  float: center;
  margin: 15px 0px -25px 350px;
  font-size: 20px;
  font-family: 'Saira Semi Condensed';
  color: rgba(255, 255, 255, 0.7);
  position: fixed;
}

input {
  width: 100px;
  height: 33px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  background: #fff;
  outline: none;
  position: relative;
  transition: .3s linear;
  font-size: 20px;
  font-family: 'Saira Semi Condensed';
  color: #000
}

input:focus {
  width: 606px;
  color: #000
  font-size: 20px;
  font-family: 'Saira Semi Condensed';
}

.vhod{
background-color: #000;
border-radius: 6px;
border: none;
font-family: 'Saira Semi Condensed';
color: rgba(255, 255, 255);
padding: 7px;
font-size: 13px;
}

.genre1 {
  font-family: 'Saira Semi Condensed';
  font-size: 22px;
  margin: 420px 0px 0px 320px;
  position: fixed;
  }

.film1 {
  font-family: 'Saira Semi Condensed';
  font-size: 36px;
  margin: 470px 0px 0px 320px;
  position: fixed;
}

  .k1 {
    margin: 400px 0px 0px 90px;
    position: fixed;
    width: 175px;
    height: auto;
  }

  .pole1{
    margin: 554px 0px 0px 320px;
    position: fixed;
    width: 498px;
    height: 59px;
  }

  .play{
    font-family: 'Ruda';
    font-size: 27px;
    margin: 566px 0px 0px 360px;
    position: fixed;
    color: black;
  }

  .play:hover{
    color: rgba(255, 255, 255);
  }

  .like{
    margin: 566px 0px 0px 720px;
    position: fixed;
  }


  .like:active{
    margin: 566px 0px 0px 720px;
    position: fixed;
  }

  .like:hover{
    background-image: url('images/like.png');
    background-size: cover;
  }

  .love{
    margin: 566px 0px 0px 575px;
    position: fixed;
  }

  .love:active{
    margin: 566px 0px 0px 575px;
    position: fixed;
  }

  .love:hover{
    background-image: url('images/love1.png');
    background-size: cover;
  }

  .play1 {
    font-family: 'Saira Semi Condensed';
    font-size: 14px;
    margin: 612px 0px 0px 353px;
    position: fixed;
    color: rgba(255, 255, 255, 0.93);
  }

  .play2 {
    font-family: 'Saira Semi Condensed';
    font-size: 14px;
    margin: 628px 0px 0px 375px;
    position: fixed;
    color: rgba(255, 255, 255, 0.93);
  }

  .love1 {
    font-family: 'Saira Semi Condensed';
    font-size: 14px;
    margin: 612px 0px 0px 550px;
    position: fixed;
    color: rgba(255, 255, 255, 0.93);
  }


.player {
  margin: 115px 0px 0px 40px;
}
